*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.life-point {
    position: absolute;
    bottom: 10%;
    left: 13%;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

@media screen and (max-width: 768px) {
    .artboard.phone-6.artboard-horizontal, .artboard.phone-6.horizontal {
        width: 95% !important;
        height: 250px !important;
    }
    .life-point {
        bottom: 2%;
    }
}
